.centered {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.align_centered {
  display: flex;
  align-items: center;
  justify-content: center;
}
